<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Importazione di Axios per fare richieste HTTP -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.3/axios.min.js"
      integrity="sha512-zJXKBryKlsiDaWcWQ9fuvy50SG03/Qc5SqfLXxHmk9XiUUbcD9lXYjHDBxLFOuZSU6ULXaJ69bd7blSMEgxXNQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- Collegamento del file CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    <div id="app">
      <div v-if="loading">
        <!-- Indicatore di caricamento -->
        <p>Loading...</p>
      </div>

      <div v-else>
        <!-- Contenuto dell'app dopo il caricamento -->
        <div class="filter">
          <label for="type">Scelti il tipo che preferisci</label>
          <select
            @change="this.filterByType()"
            name="type"
            id="Type"
            v-model="this.typeIndex"
          >
            <option value="0">---</option>
            <option v-for="(type,index) in this.typeList" :value="index + 1">
              {{type.name}}
            </option>
          </select>
        </div>

        <div class="container">
          <div v-for="pokemon in this.pokemons" class="card">
            <img
              :src="pokemon.sprites.other['official-artwork'].front_default"
              alt="immagine pokemon"
            />
            <p>{{pokemon.id}}</p>
            <h4>{{pokemon.name }}</h4>
            <button>{{pokemon.types[0].type.name}}</button>
            <button v-if="pokemon.types[1]">
              {{pokemon.types[1].type.name}}
            </button>
          </div>
        </div>

        <ul v-show="typeIndex == 0">
          <li v-for="Pokemon in this.PokemonList">{{Pokemon.name}}</li>
        </ul>

        <ul v-show="typeIndex > 0">
          <li v-for="Pokemon in this.PokemonListType">{{Pokemon.name}}</li>
        </ul>
      </div>
    </div>

    <!-- Importazione di Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Collegamento del file JavaScript principale -->
    <script type="text/Javascript" src="./js/main.js"></script>
  </body>
</html>
